{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title_menu %}Modulos{% endblock title_menu %}
{% block styles %}
 <style>
        .fontawesome-icons {
            text-align: center;
        }

        article dl {
            background-color: rgba(0, 0, 0, .02);
            padding: 20px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
 </style>
<link href="{% static 'dist/assets/vendors/simple-datatables/style.css' %}" rel="stylesheet">

{% endblock styles %}


{% block title %}{% trans "Modulos Disponibles en el sistema" %}{% endblock title %}

{% block content %}
 <div class="d-flex flex-row-reverse bd-highlight">

 <div class="bd-highlight">
        {% if perms.cfg.add_modulo %}
            <a href="{% url 'cfg:crear_modulo' %}" class="btn btn-success rounded-pill">{% trans "Crear Modulo" %}</a>

        {% endif %}
</div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                <tr>
                    <th>{% trans "codigo" %}</th>
                    <th>{% trans "Nombre" %}</th>
                    <th>{% trans "Icono" %}</th>
                    <th>{% trans "Estado" %}</th>
                    {% if perms.cfg.change_modulo %}
                    <th>{% trans "Acción" %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for i in obj %}
                    <tr>
                        <td>{{i.codigo}}</td>
                        <td>{{i.nombre}}</td>
                        <td><i class="{{i.icono}}"></i></td>
                        <td>{% if i.estado %}<span class="badge bg-success">{% trans "Activo" %}</span>{% else %}<span
                                class="badge bg-danger">{% trans "Inactivo" %}</span>{% endif %}
                        </td>
                        <td align="center">
                            {% if perms.cfg.change_modulo %}
                            <a href="{% url 'cfg:editar_modulo' i.id_modulo %}"><i class="bi bi-pencil-square"></i></a>
                            {% endif %}
                            {% if perms.cfg.delete_modulo %}
                            <button style="border:hidden; background-color: transparent; color: red;"
                                    onclick="modal('{% url 'cfg:eliminar_modulo' i.id_modulo %}')">
                                <i class="bi bi-x-circle"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="modal fade text-left modal-borderless" id="mostrar_modal" role="dialog">
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'dist/assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
<script>
// Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);

</script>

{% endblock scripts %}
