{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title_menu %}Roles{% endblock title_menu %}
{% block styles %}
 <style>
        .fontawesome-icons {
            text-align: center;
        }

        article dl {
            background-color: rgba(0, 0, 0, .02);
            padding: 20px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
 </style>
<link href="{% static 'dist/assets/vendors/simple-datatables/style.css' %}" rel="stylesheet">

{% endblock styles %}


{% block title %}{% trans "Roles Disponibles en el sistema" %}{% endblock title %}

{% block content %}
 <div class="d-flex flex-row-reverse bd-highlight">

 <div class="bd-highlight">
        {% if perms.auth.add_group %}
            <a href="{% url 'cfg:crear_rol' %}" class="btn btn-success rounded-pill">{% trans "Crear Rol" %}</a>
        {% endif %}
</div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                <tr>
                    <th>{% trans "Nombre" %}</th>
                    <th>{% trans "Permisos" %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in obj %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{% for a in i.permissions.all %}{{a.name}}<br>{% endfor %}</td>
                        <td>{% if perms.auth.change_group %}
                        <a href="{% url 'cfg:editar_rol' i.pk %}" class="btn btn-warning rounded-pill"><i class="bi bi-pencil-square"></i></a>
                        {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock content %}
 {% block scripts %}
<script src="{% static 'dist/assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
 <script>
 // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
 
 </script>
 
 {% endblock scripts %}
