{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title_menu %}Menús{% endblock title_menu %}
{% block styles %}
 <style>
        .fontawesome-icons {
            text-align: center;
        }

        article dl {
            background-color: rgba(0, 0, 0, .02);
            padding: 20px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }

 </style>
<link href="{% static 'dist/assets/vendors/simple-datatables/style.css' %}" rel="stylesheet">

{% endblock styles %}


{% block title %}
    {% trans "Menús Disponibles en el sistema" %}
   
{% endblock title %}

{% block content %}
 <div class="d-flex flex-row-reverse bd-highlight">

        <div class="bd-highlight">
        {% if perms.cfg.add_menu %}
            <a href="{% url 'cfg:crear_menu' %}" class="btn btn-success rounded-pill">{% trans "Crear Menú" %}</a>

        {% endif %}
        </div>
    </div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                <tr>
                    <th>{% trans "Nombre" %}</th>
                    <th>{% trans "Permiso" %}</th>
                    <th>{% trans "Modulo" %}</th>
                    <th>{% trans "Estado" %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in obj %}
                    <tr>
                        <td>{{i.nombre}}</td>
                        <td>{{i.permiso}}</td>
                        <td>{{i.id_modulo}}</td>
                        <td>
                            {% if i.estado %}
                                <span class="badge bg-success">{% trans "Activo" %}</span>
                            {% else %}
                                <span class="badge bg-danger">{% trans "Inactivo" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'cfg:editar_menu' i.id_menu %}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock content %}
 {% block scripts %}
<script src="{% static 'dist/assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
 <script>
 // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
 
 </script>
 
 {% endblock scripts %}
